// 主要颜色 #66BBFF
@ice-primary-color: rgb(102, 187, 255);
// 主要颜色的背景颜色
@ice-primary-opacity-color: rgba(51, 170, 250, 0.08);
@ice-danger-color: rgba(254, 86, 67);
@ice-success-color: rgb(96, 211, 110);
@ice-warning-color: rgb(231, 207, 72);

// 头部高度
@ice-header-height: 60px;

// 左侧菜单展开宽度
@ice-menu-max-width: 200px;
// 左侧菜单收起宽度 建议使用60px 达到相对完美的状态
@ice-menu-min-width: 60px;
// 盒子圆角
@ice-border-radius: 5px;
// 动画过度时间
@ice-transition: all 0.3s ease-out;
// 文字颜色
@ice-font-color: #666;
// 北京颜色
@ice-bg-color: #fff;
// 盒子的边距 padding margin 距离
@ice-pm: 16px;
