// 主要颜色 #33aafa
@ice-primary-color: rgb(51, 170, 250);
// 主要颜色的背景颜色
@ice-primary-opacity-color: rgba(51, 170, 250, 0.08);
@ice-danger-color: rgba(254, 86, 67);
@ice-success-color: rgb(96, 211, 110);
@ice-info-color: rgb(231, 207, 72);

@ice-page-height: 100vh;

@ice-header-height: 60px;

@ice-menu-max-width: 200px;
@ice-menu-min-width: 80px;

@ice-border-radius: 5px;

@ice-transition: all 0.3s ease-out;
