html,
body {
	width: 100%;
	min-height: 100%;
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input,
button,
textarea {
	margin: 0;
	padding: 0;
}

fieldset,
img,
input,
button {
	border: none;
	outline-style: none;
}

ul,
ol {
	list-style: none;
}

select,
input {
	vertical-align: middle;
}

select,
input,
textarea {
	font-size: 14px;
	margin: 0;
}

/*防止拖动*/
img {
	border: 0;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

body {
	font-size: 14px/150%;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
		sans-serif;
	background: #fff;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-decoration: none;
	font-weight: normal;
	font-size: 100%;
}

s,
i,
em {
	font-style: normal;
	text-decoration: none;
}

p {
	display: inline-block;
	margin: 0;
}
